@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
body, img {
    display: block;
    text-align: center;
    margin: 2.5% auto;
    font-family: 'Agbalumo', 'sans-serif';
}
body {
    background-color: #fa5448;
    transition: 0.1s linear;
}
.purp {
    background-color: #a25afa;
}
img {
    width: 40%;
}
button {
    padding: 5%;
    font-size: 2rem;
    border: 10px solid black;
    border-radius: 5%;
    box-shadow: 5px 5px 5px black;
}
#small {
    padding: 2.5%;
    font-size: 1rem;
    display: none;
}